body {
    background: rgb(250, 246, 246);
    font-family: Arial, Helvetica, sans-serif
}
table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid lightgray;
}
thead{
    border-bottom: none;
    background-color: black;
    color: white;
}
td{
    padding: 10px;
    border: 1px solid white;
}
 tr, td{
     border: 1px bold white;
     text-align: center;
 }
 img{
    width: 100px;
    height: 100px;
    border-radius: 20px 20px 20px 20px;
    margin: 15px;
}
p {
    text-align: center;
}
.border{
    background-color: orange;
}
.border2{
    background-color: green;
}
.border3{
    background-color: rgb(8, 68, 235)
}
.border4{
    background-color: yellow
}
.border5{
    background-color: red
}
.border6{
    background-color: rgb(116, 17, 161);
}
