body{
    margin: 0px;
}
.nav {
    display: flex;
    justify-content: space-between;
    background: rgb(145, 8, 19);
    padding: 10px 0px;
    
  }

a {
    text-decoration: none;
    color: white;
    
}
h1 {
    margin-left: 30px;
    font-size: 30px;
}
.logo {
  width: 20%;
  font-size: 18px;
  padding-left: 15px;
  text-transform: uppercase;
  font-weight: bold;
  }

.nav-menu {
  display: flex;
  justify-content: space-between;
  width: 40%;

  }

.search {
       display: flex;
       width: 40%;
       margin-left: 50px;
   }

.input {
width: 50%;
}

.phone {
width: 50%;
}

input {
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
}   

 .input {

 }

 .sub-menu {
     background: gray;
    display: flex;
    line-height: 25px;
 }
 .sub-menu__link {
    color: black;
    padding: 7px;
 }
 .sub-menu__link:hover {
     color: red;
 }
 .sub-menu__link.active {
     color: red;
 }

 .three-buttom {
     display: flex;
     
 }

 .textbuttom1 {
     background: black;
     color: white;
     padding: 2px;
     width: 100px;
     border-radius: 20px;
    text-align: center;
    margin-left: 30px;
 }
 .textbuttom2 {
    background: black;
    color: white;
    padding: 2px;
    width: 100px;
    border-radius: 20px;
   text-align: center;
   margin-left: 30px;
}
.textbuttom3 {
    background: black;
    color: white;
    padding: 2px;
    width: 100px;
    border-radius: 20px;
   text-align: center;
   margin-left: 30px;
}
.slider1 {
    -webkit-appearance: none;  
    appearance: none;
    width: 150px; 
    height: 1px; 
    background: #202020; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  .a {
    position: relative;
    font-size: 20px;
    bottom: 60px;
    padding: 30px;

  }
  .a1 {
    position: relative;
    left: 150px;
    bottom: 140px;
    font-size: 20px;
    padding: 10px;
  }
  .slider1::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 20px; 
    height: 20px; 
    background: hsl(0, 94%, 49%); 
    cursor: pointer; 
    border-radius: 1pc;
  }

  .slidecontainer {
      padding: 30px;
  }
  .price {
      
  }