h1 {
    background: red;
    text-align: center;
    }
    span {
        font-family: arial;
        font-size: 4em;
        color: white;
        font-weight: bold;
        padding-bottom: 0;
        position: relative;
        bottom: -29px;
    }