.wrapper {
    background: rgb(59, 59, 95);
    display: flex;
    width: 100%;
    height: 500px;
}
.text{
    font-size: 20px;
    position: relative;
    top: 30px;
}
.switch {
    position: relative;
    left: 165px;
    bottom: 15px;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(41, 39, 39);
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .color {
  width: 210px;
  background: gray;
  color: #ccc;
  }
  input:checked + .slider {
    background-color: #2196F3;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  .wrapper2{
      background: rgba(56, 56, 58, 0.952);
      flex-direction: column;
      height: 320px;
      width: 70px;
      position: absolute;
      top: 10px;
      left: 20px;
      display: flex;
      margin: 5px;
      left: 721px;
      top: 170px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      padding: 10px;
  }
  .wrapper1 {
    background: rgb(45, 45, 75);
    border: 1px solid rgb(92, 90, 90);
    width: 700px;
    height: 470px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(214, 214, 214, 0.979);
    position: absolute;
    top: 90px;
    left: 25px;
  }
  .first {
position: absolute;
top: 50px;
left: 10px;
  }
  .second {
    position: absolute;
    left: 400px;
    top: 50px;
    
  }
  .three {
    position: absolute;
    top: 300px;
    left: 30px;
  }
  .bot{
    position: relative;
    top: 45px;
    left: 20px;
  }
  .custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .custom-checkbox+label::before {
    content: '';
    background-color: black;
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .custom-checkbox:checked+label::before {
    border-color: #0b76ef;
    background-color: black;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
  .custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
  }
  .custom-checkbox:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }
.custom-checkbox:focus:not(:checked)+label::before {
  border-color: #80bdff;
}
.custom-checkbox:disabled+label::before {
  background-color: #e9ecef;
}
.custom-checkbox1+label::before {
  content: '';
  background-color: black;
  display: inline-block;
  width: 2em;
  height: 2em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  border-radius: 50%;
}
.custom-checkbox1 {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox1:checked+label::before {
  border-color: #0b76ef;
  background-color: black;
  z-index: 1;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
  #blue+label::before {
    background: rgb(57, 57, 226);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
  #orange+label::before{
background: orange;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
  #yellou+label::before {
    background: yellow;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
  #pink+label::before {
    background: pink;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
  #green+label::before {
    background: green;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
  #blue:checked+label::before {
    background: rgb(57, 57, 226);

  }
  #orange:checked+label::before{
    background: orange;
  }
  #yellou:checked+label::before{
    background: yellow;
  }
  #pink:checked+label::before{
    background: pink;
  }
  #green:checked+label::before{
    background: green;
  }
#levelcontrol {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slidecontainer {
  width: 100%; 
}
.slider1 {
  -webkit-appearance: none;  
  appearance: none;
  width: 150px; 
  height: 1px; 
  background: #202020; 
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider1:hover {
  opacity: 1; 
}.slider1::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  height: 25px; 
  background: #527c56; 
  cursor: pointer; 
  border-radius: 1pc;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px; 
  background: #4CAF50; 
  cursor: pointer; 
}
.top{
  position: relative;
  top: 30px;
  left: 20px;
}
.a {
  position: relative;
  font-size: 12px;
  bottom: 3px;
}
.a1 {
  position: relative;
  left: 150px;
  bottom: 55px;
  font-size: 28px;
}